@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*

{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
  }
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 10.0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.0rem 10.0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
header .logo
{
    position: relative;
    max-width: 8.0rem;
 
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a
{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 4.0rem;
    text-decoration: none;
}

.gallery__pic img {
    max-width: 100%;
  }
  
  .bg-light {
    background: #fafafa !important;
  }
  
  
  .heading-section {
    position: relative;
  }
  
  .heading-section .subheading {
    position: relative;
  
  }
  
  .heading-section h2 {
    font-size: 5.0rem;
    font-weight: 900;
    line-height: 1.2;
  }
.menu-wrap {
    margin-bottom: 0;
   
  }
  
  .heading-menu h3 {
    font-size: 3.0rem;
    font-weight: 900;
    margin-bottom: 1em;
    
  }

  .container-fluid .des p 
  {
    font-size: 2.5rem;
  }
  
  .container-fluid .heading p
  {
    font-size: 5.0rem;
    margin-top: 2.0rem;
  }

  .menus {
    width: 60%;
    margin-bottom: 2.0rem;
    padding-bottom: 2.0rem;
    margin-left: 20%;
    margin-right: 20%;
    border: .1rem solid #e6e6e6;
    padding: 3.0rem 2.0rem;
    border-radius: .5rem;
    transition: all 0.3s ease;
    align-items: center;
  }
  
  .menus .text {
    width: calc(100% - 10.0rem);
    padding-left: 2.0rem;
  }
  
  .menus .text .one-half {
    width: calc(100% - 8.0rem);
    text-align: center;
  }
  
  .menus .text .one-half h3 {
    font-size: 2.4rem;
    font-weight: 500;
    
  }
  
  .menus .text .one-forth {
    width: 8.0rem;
    text-align: right;
  }
  
  .menus .text .one-forth .price {
    font-size: 2.0rem;
    color: rgba(0, 0, 0, 0.2);
    color: #000000;
    font-weight: 600;
    line-height: 1.3;
    transition: all 0.3s ease;
    border-bottom: .2rem solid #ff2377;
  }
  
  .menus .text p {
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.8);
  }
  .menus .menu-img {
    width: 17.5rem;
    height: 17.5rem;
    border-radius: 30%;
  }
  
  .menus:hover {
    border: .1rem solid #ff2377;
    background: linear-gradient(
      235deg,
      rgba(199, 45, 104, 0.741) 30%,
      rgba(143, 0, 48, 0.763) 67%
    );
  }
  .menus:hover .text .one-half h3{
    color: #ffffff;
    
  }
  
  .menus:hover .text .one-half p {
    margin-bottom: 0;
    color: rgb(255, 255, 255);
  }
  .menus:hover .text .one-forth .price {
    color: #ffffff;
    border-bottom: .2rem solid #ffffff;
  }
  
  .menus:hover .text p {
    color: rgba(0, 0, 0, 0.8);
  }
  
  .card{
    width: 10%;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    padding: 2%;
    box-shadow: -.2rem 0rem 3.3rem 0rem rgba(104, 102, 102, 0.75);
}
  
  @media (max-width: 991px)
{


  html{
    font-size: 45%;
}
    header
    {
        padding: 2.0rem;
    }
    header .logo
    {
        max-width: 6.0rem;
    }
    .toggle
    {
        position: relative;
        width: 3.0rem;
        height: 3.0rem;
        cursor: pointer;
        background: url(menu.png);
        background-size: 3.0rem;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 11;
    }
    .toggle.active
    {
        position: fixed;
        right: 2.0rem;
        background: url(close.png);
        background-size: 2.5rem;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
    }
    header ul.navigation.active
    {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       background: #fff;
       z-index: 10; 
    }
    header ul li a 
    {
       font-size: 1.5em; 
       margin: .5rem 0;
    }
    header ul 
    {
        display: none;
    }
    section
    {
        padding: 2.0rem 2.0rem 12.0rem;
    }
    .content
    {
      flex-direction: column;
      margin-top: 10.0rem;  
    }
    .content .textBox h2 
    {
        font-size: 2.5em;
        margin-bottom: 1.5rem;
    }
    .content .textBox
    {
        max-width: 100%;
    }
    .content .imgBox
    {
        max-width: 100%;
        justify-content: center;
    }
    .content .imgBox img 
    {
        max-width: 30.0rem;
    }
    .thumb li img 
    {
        max-width: 4.0rem;
    }
    .circle
    {
        clip-path: circle(40.0rem at center bottom);
    }
    .sci
    {
        background: #eb7495;
        right: 0;
        width: 5.0rem;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
    }
  }


  @media (max-width: 768px)
  {
      html{
          font-size: 35%;
      }
      
  }
  header ul.navigation li.hov:hover{
    font-size: 2.0rem;  
}