@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*

{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
  }
section
{
    position: relative;
    width: 100%;
    
    padding: 10.0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.0rem 10.0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    position: relative;
    max-width: 8.0rem;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a
{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 4.0rem;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background: #fff;
}

.container{
    margin-top: 13%;
    width: 80%;
    display: grid;
    box-shadow: -.2rem 0rem 3.3rem 0rem rgba(143, 82, 82, 0.75);
    border-radius: 1.5rem;
    background-color: #81001c;
    color: #fff;
}
.contuner{
    background-color: #81001c;
}

.card-title{
    font-size: 4rem;
}
.card-text{
    font-size: 1.2rem;
}

/* .cover{
    grid-area: cover;
    height: auto;
    background-image:url('Nafi.jpg') ;
    background-size: cover;
    background-position:center center;
    border-radius: 1.5rem;
    
} */







.prix{
    margin: 5.0rem 0rem;
    width: 45%;
    display: flex;
    justify-content: space-between;
    border-left: .4rem solid rgb(255,177,33);
}

.prix span{
    padding-left: 1.0rem;
}

.crt{
    color: rgb(255, 255, 255);
    left: .2rem;
    border-bottom:.1rem solid rgb(177,177,177);
}



main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px)
{
    header
    {
        padding: 2.0rem;
    }
    header .logo
    {
        max-width: 6.0rem;
    }
    .toggle
    {
        position: relative;
        width: 3.0rem;
        height: 3.0rem;
        cursor: pointer;
        background: url(menu.png);
        background-size: 3.0rem;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 11;
    }
    .toggle.active
    {
        position: fixed;
        right: 2.0rem;
        background: url(close.png);
        background-size: 2.5rem;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
    }
    header ul.navigation.active
    {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       background: #fff;
       z-index: 10; 
    }
    header ul li a 
    {
       font-size: 1.5em; 
       margin: .8rem 0;
    }
    header ul 
    {
        display: none;
    }
    section
    {
        padding: 2.0rem 2.0rem 12.0rem;
    }
    html{
        font-size: 45%;
    }
    .container{
        margin-top: 20%;
       
    }

    
    
   
}

@media (max-width: 768px)
{
    html{
        font-size: 35%;
    }
    .container{
        margin-top: 25%;
       
    }
    
}

@media (max-width: 500px)
{
    html{
        font-size: 35%;
    }
    .container{
        margin-top: 30%;
       
    }

}
 @media (max-width: 400px)
{
    html{
        font-size: 25%;
    }
    .container{
        margin-top: 35%;
       
    }
    
} 
header ul.navigation li.hov:hover{
    font-size: 2.0rem;   
}
