@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*

{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
  }
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 10.0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.0rem 10.0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    position: relative;
    max-width: 8.0rem;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a
{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 4.0rem;
    text-decoration: none;
}
.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox
{
    position: relative;
    max-width: 60.0rem;
}
.content .textBox h2
{
    color: #333;
    font-size: 4.2rem;
    line-height: 5.4rem;
    font-weight: 500;
}
.content .textBox h2 span
{
    color: #bd2f47;
    font-size: 4.2rem;
    font-family: 900;
}
.content .textBox p
{
    color: #333;
}
.content .textBox a
{
    display: inline-block;
    margin-top: 4.0rem;
    padding: .8rem 2.0rem;
    background: #bd2f47;
    color: #fff;
    border-radius: 4.0rem;
    font-weight: 500;
    letter-spacing: .1rem;
    text-decoration: none; 
}
.content .imgBox
{
    width: 60.0rem;
    display: flex;
    justify-content: flex-end;
    padding-right: 5.0rem;
    margin-top: 5.0rem;
}
.content .imgBox img
{
    max-width: 34.0rem;
}
.thumb
{
    position: absolute;
    left:50%;
    bottom: 2.0rem;
    transform: translateX(-50%);
    display: flex;
}
.thumb li
{
    list-style: none;
    display: inline-block;
    margin: 0 2.0rem;
    cursor: pointer;
}
.thumb li:hover
{
    transform: translateY(-1.5rem);
}
.thumb li img
{
    max-width: 6.0rem;
}
.sci
{
    position: absolute;
    top: 50%;
    right: 3.0rem;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li
{
    list-style: none;
}
.sci li a
{
    display: inline-block;
    margin: .5rem 0;
    transform: scale(0.6);
    filter: invert(1);
}
.circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #eb7495;
    clip-path: circle(60.0rem at right 800px);
}


header ul.navigation li.hov:hover{

    font-size: 2.0rem;
 
}


@media (max-width: 991px)
{
    header
    {
        padding: 2.0rem;
    }
    header .logo
    {
        max-width: 6.0rem;
    }
    .toggle
    {
        position: relative;
        width: 3.0rem;
        height: 3.0rem;
        cursor: pointer;
        background: url(menu.png);
        background-size: 3.0rem;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 11;
    }
    .toggle.active
    {
        position: fixed;
        right: 2.0rem;
        background: url(close.png);
        background-size: 2.5rem;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
    }
    header ul.navigation.active
    {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       background: #fff;
       z-index: 10; 
    }
    header ul li a 
    {
       font-size: 1.5rem; 
       margin: .8rem 0;
    }
    header ul 
    {
        display: none;
    }
    section
    {
        padding: 2.0rem 2.0rem 12.0rem;
    }
    .content
    {
      flex-direction: column;
      margin-top: 10.0rem;  
    }
    .content .textBox h2 
    {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }
    .content .textBox
    {
        max-width: 100%;
    }
    .content .imgBox
    {
        max-width: 100%;
        justify-content: center;
    }
    .content .imgBox img 
    {
        max-width: 30.0rem;
        
    }
    .thumb li img 
    {
        max-width: 4.0rem;
        margin-left: -100%;
    }
    .circle
    {
        clip-path: circle(40.0rem at center bottom);
    }
    .sci
    {
        background: #eb7495;
        right: 0;
        width: 5.0rem;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
    }
}


header ul.navigation li.hov:hover{
    font-size: 2.0rem;
      
}